.feed {
  flex: 0.75;
}

.feed__header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  position: sticky;
  top: 0;
}

.feed__headerLeft > input {
  padding: 10px;
  outline: none;
  border: none;
  color: gray;
}

.feed__headerRight {
  display: flex;
  align-items: center;
  border-left: 1px solid lightgray;
}

.feed__headerRight > h5 {
  margin-left: 15px;
  font-weight: 450;
}

.feed__body {
  max-height: fit-content;
  height: 87%;
  overflow: scroll;
  background-color: whitesmoke;
}

.feed__body > h3 {
  margin-left: 1rem;
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
}

.feed__bodyInfoBox {
  display: flex;
  justify-content: space-between;
}

.feed__bodyProject {
  display: flex;
}

.feed__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 1rem;
}

.feed__footer > h4 {
  font-weight: 300;
  color: gray;
}
