.sidebarOption {
  display: flex;
  align-items: center;
  padding: 10px;
  transition: all 0.7ms ease-in;
  /* margin-right: 1rem; */
}

.sidebarOption:hover {
  border-left: 5px solid #007bff;
  background-color: whitesmoke;
}

.MuiSvgIcon-root {
  color: #007bff;
}
