.sidebar {
  flex: 0.25;
  border: 1px solid lightgray;
  min-height: 100vh;
  height: auto !important;
  height: 100%;
  border-bottom: none;
}

.sidebar__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  position: sticky;
  top: 0;
}

.sidebar__body {
  overflow: scroll;
  position: fixed;
}
