.login__header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  height: 10vh;
}

.login__headerLeft {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.login__headerLeft > h2 > span {
  color: lime;
  margin: 0 7px;
}

.login__headerRight {
  display: flex;
  margin-right: 1.7rem;
  text-transform: capitalize;
}

.login__headerRight > p {
  margin: 0 15px;
}

.login__body {
  background-color: whitesmoke;
  object-fit: contain;
  background-size: cover;
  background-repeat: none;
  height: 87.2vh;
  display: grid;
  place-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

form > h2 {
  font-weight: 400;
}

form > input {
  padding: 16px;
  outline: none;
  border-radius: 12px;
  border: none;
  margin-top: 1rem;
}

.form__checkbox {
  margin-top: 1rem;
  margin-left: 1.5rem;
}

.form__checkbox > input {
  margin-right: 0.5rem;
}

.form__checkbox > span {
  font-weight: 300;
}
